{% extends "base_template.jinj2" %}
<form action="/api/user_session" method="POST">
    <input type="email" name="email">
    <input type="password" name="password">
    <input type="submit" name="submit" value="submit-value">
</form>
