<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <!-- jspm dependencies -->
    <script type="text/javascript" src="static/jspm/jspm_packages/system.src.js"></script>
    <script type="text/javascript" src="static/jspm/config.js"></script>
    <script type="text/javascript" src="static/jspm_build/build.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/globalstyles.css" />
</head>
<body>
    <h1>Keyworld Journal</h1>
    {% block body %}
    {% endblock %}
</body>
</html>
