{% extends "base_template.jinja2" %}

{% block body %}
<h3>Welcome {{email}}. Please make a new post.</h3>

<div id="post-window">
</div>

<script>
  System.import('/static/kwj_react/react-app.js');
</script>

{% for post in previous_posts %}
<h4>{{post.post_title}}</h4>
<p>{{post.post_body}}</p>
<p>{{post.datetime}}</p>
<br>
<hr>
<br>
{% endfor %}

{% endblock %}
