.keyWordSelectionWindow {
    background-color: yellow;
    height: 50px;
    width: 100px;
    border: 1px solid red;

}

.bodyWindow {
    position: relative;
}

#keyWordSelectionWindow {
    position: absolute;
    opacity: .5;
}

#keywordArgsWindow {
    border: 1px solid green;
}

#newKeyword {
    /*visibility: hidden;*/
    border: 1px solid blue;
}

span.kwj-keyword {
    color: green;
}
